name: R2C-OpenWrt

on:
#  schedule:
#    - cron: 5 6 * * 0
  workflow_dispatch:
    inputs:
      upload_source:
        description: "Upload source folder before build"
        required: false
        type: boolean
        default: false
      build_firmware:
        description: "Build and publish firmware"
        required: false
        type: boolean
        default: true
  watch:
    types: started

jobs:
  build:
    uses: ./.github/workflows/OpenWrt-Matrix.yml
    if: github.event.repository.owner.id == github.event.sender.id
    with:
      targets: "R2C"
      upload_source: ${{ github.event_name == 'workflow_dispatch' && inputs.upload_source }}
      build_firmware: ${{ (github.event_name == 'workflow_dispatch' && inputs.build_firmware) || github.event_name != 'workflow_dispatch' }}
    